# Querying Philadelphia Phillies with LlamaIndex and NebulaGraph

In [1]:
from dotenv import load_dotenv, find_dotenv
import openai
import os

_ = load_dotenv(find_dotenv())
openai.api_key = os.getenv('OPENAI_API_KEY')

In [2]:
from llama_index.core import VectorStoreIndex, SimpleDirectoryReader

In [3]:
from datasets import load_dataset
xsum_dataset = load_dataset(
    "xsum", version="1.2.0"
)
documents = xsum_dataset["train"].select(range(1000)).to_pandas()

/Users/linghuang/miniconda3/envs/llama-index/lib/python3.10/site-packages/datasets/load.py:1429: FutureWarning: The repository for xsum contains custom code which must be executed to correctly load the dataset. You can inspect the repository content at https://hf.co/datasets/xsum
You can avoid this message in future by passing the argument `trust_remote_code=True`.
Passing `trust_remote_code=True` will be mandatory to load this dataset from the next major release of `datasets`.
  warnings.warn(

In [23]:
!mkdir -p 'document/'

In [4]:
joined_documents = '\n'.join(documents['document'])
with open('document/documents.txt', 'w', encoding='utf-8') as file:
    file.write(joined_documents)
documents = SimpleDirectoryReader("document").load_data()

In [5]:
index = VectorStoreIndex.from_documents(documents)

In [6]:
query_engine = index.as_query_engine()
response = query_engine.query("I'm looking for the information of Harry Potter. What could you suggest to me?")

In [7]:
response

Response(response='I would suggest looking into the play "Harry Potter and the Cursed Child." It is a theatrical production set 19 years after the last book in the Harry Potter series by JK Rowling. The play has received critical acclaim and is presented in two parts, offering a unique and immersive experience for fans of the wizarding world.', source_nodes=[NodeWithScore(node=TextNode(id_='28cb8331-4c3d-4063-8aac-3bd60404bc76', embedding=None, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, excluded_embed_metadata_keys=['file_name', 'file_type', 'file_size', 'creation_date', 'last_modified_date', 'last_accessed_date'], excluded_llm_metadata_keys=['file_name', 'file_type', 'file_size', 'creation_date', 'last_modified_date', 'last_accessed_date'], relationships={<NodeRelationship.SOURCE: '1'>: RelatedNodeInfo(node_id='b217f4ba-c69a-4bb6-97ac-51731e5985de', node_type=<ObjectType.DOCUMENT: '4'>, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, hash='6d27bc87aba76367943e65e5e4a8f41e37ab0ebd2d22da2acd19917f373cddb2'), <NodeRelationship.PREVIOUS: '2'>: RelatedNodeInfo(node_id='b4753edb-bd3f-4c34-86bb-7453e9376e0d', node_type=<ObjectType.TEXT: '1'>, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, hash='e2be260327c81310b7edb9585db35345613c933bd366b55652581f4aaf129cb0'), <NodeRelationship.NEXT: '3'>: RelatedNodeInfo(node_id='5d06ce11-0978-4652-a0ba-21859dccbafa', node_type=<ObjectType.TEXT: '1'>, metadata={}, hash='527d65918c2cfa3c9f778e2db0cbb5c35759a5ba831385a8006ca5e70723bd52')}, text='After the breakout, soldiers surrounded the jail and calm was restored, the authorities said.\nThe northern border region is the scene of rising lawlessness as the cartels fight the security forces and each other for control of smuggling routes into the US.\nThe main battle in Tamaulipas is between the Zetas and the Gulf cartels, the AFP news agency reports.\nTheir capacity for violence and ability to pay huge bribes gives them considerable power to subvert the prison system and get their people out.\nPresident Felipe Calderon came to power in 2006 promising a war on drugs.\nMore than 35,000 people have died in drug violence since he began his campaign, which has involved launching an army assault on drug gangs.\nThe play, written by Jack Thorne, is set 19 years after the seventh and final book in the series by JK Rowling.\nIt opens officially at the Palace Theatre, in London\'s West End, on Saturday.\nAudiences have been urged to "keep the secrets" since the play began previews in early June.\nPresented in two parts, the play - showing the stars of the wizarding saga as adults in their mid-30s as their own children head off to school - stretches over five hours.\nDaily Telegraph critic Dominic Cavendish awarded the play five stars, writing: "British theatre hasn\'t known anything like it for decades and I haven\'t seen anything directly comparable in all my reviewing days."\nHe said "those involved can give themselves a pat on the back", adding: "It\'s a triumph. Not an unqualified one - there are some quibbles - but in all key respects, it grips, it stirs, it delights."\nCavendish praises the "thrill-a-minute" stage craft which sees pupils heading to Hogwarts, at the start of the play, change into school uniforms "in the blink of an eye" as they head to the infamous Platform 9Â¾ to make their way to school.\nThe Stage also gives a five-star review, with Mark Shenton describing Harry Potter and the Cursed Child - co-devised by Rowling, with director John Tiffany and playwright Jack Thorne - as a "truly game-changing production and a thrilling theatrical endeavour".\nIt is an "entirely original" piece of work, with "Dickensian sweep and momentum to the storytelling", writes Shenton, adding: "It earns its place on the stage, feeling distinct from both the books and the screen adaptations.\n"By turns playful and gripping, disturbing and detailed, poignant and powerful, it is superb family entertainment."\nShenton also praises "the theatrical wizards who\'ve created this stunningly-realised alternative universe deliver one coup de theatre after another".\nIn a nod to the Kings Cross platform number, Ann Treneman gives the play four and three-quarters stars in The Times, saying the "wizardry on display" is "out of this world".\nShe says the plot is complex ("there are mazes that are more straightforward") but adds: "It\'s a raunchless Game of Thrones with heart. Crucially, it\'s authentic Potter but, most importantly, it\'s new.\n"It\'s not the movie of the book. It\'s the real deal, live in front of you, so much better than any film could be."\nIn The Guardian, Michael Billington noted the Cursed Child will make more sense to "hardened Potterheads", but applauded Tiffany for directing a "thrilling theatrical spectacle", giving it four stars.\nHe praised the strong performances that meant acting was central to the story, despite the dazzling special effects, singling out Sam Clemmett as Harry\'s son Albus, "wonderfully quirky" Anthony Boyle as his friend Scorpius Malfoy, and the adult Harry (Jamie Parker), "authoritative" Hermione (Noma Dumezweni) and "bluntly commonsensical" Ron (Paul Thornley).\nIt\'s another five stars from The Independent, with Jack Shepherd describing it as "magical". He argues Part One should be billed as a magic show, due to the effects used, also praising its moments of comedy.\nShepherd adds: "It\'s quite apparent this isn\'t written to be either a book or a tie-in film; it\'s a spectacle for the theatre, one that is filled to the brim with fan service and magical imagery that will amaze."\nQuentin Letts grumbles about the length of the play in the Daily Mail, noting: "There were moments I could have done with a glug of gurdyroot infusion to keep me alert."\nBut he admits: "Potter addicts will love it. JK Rowling is going to make (another) fortune. The West End\'s ornate Palace Theatre, itself a little like Hogwarts, has a hit probably for years."', start_char_idx=565009, end_char_idx=569419, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=0.7753243285117032), NodeWithScore(node=TextNode(id_='5d06ce11-0978-4652-a0ba-21859dccbafa', embedding=None, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, excluded_embed_metadata_keys=['file_name', 'file_type', 'file_size', 'creation_date', 'last_modified_date', 'last_accessed_date'], excluded_llm_metadata_keys=['file_name', 'file_type', 'file_size', 'creation_date', 'last_modified_date', 'last_accessed_date'], relationships={<NodeRelationship.SOURCE: '1'>: RelatedNodeInfo(node_id='b217f4ba-c69a-4bb6-97ac-51731e5985de', node_type=<ObjectType.DOCUMENT: '4'>, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, hash='6d27bc87aba76367943e65e5e4a8f41e37ab0ebd2d22da2acd19917f373cddb2'), <NodeRelationship.PREVIOUS: '2'>: RelatedNodeInfo(node_id='28cb8331-4c3d-4063-8aac-3bd60404bc76', node_type=<ObjectType.TEXT: '1'>, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, hash='34d24370fb0c761a5b75685b114462bbbee726acd48120bb1f84352fba0f25a9'), <NodeRelationship.NEXT: '3'>: RelatedNodeInfo(node_id='718e96fb-d1bb-43e2-b5bd-1ca638d8154c', node_type=<ObjectType.TEXT: '1'>, metadata={}, hash='8502a319755d34ee0ba596bbd51a14a35253498078845133507a1b4f290b5cbf')}, text='It\'s another five stars from The Independent, with Jack Shepherd describing it as "magical". He argues Part One should be billed as a magic show, due to the effects used, also praising its moments of comedy.\nShepherd adds: "It\'s quite apparent this isn\'t written to be either a book or a tie-in film; it\'s a spectacle for the theatre, one that is filled to the brim with fan service and magical imagery that will amaze."\nQuentin Letts grumbles about the length of the play in the Daily Mail, noting: "There were moments I could have done with a glug of gurdyroot infusion to keep me alert."\nBut he admits: "Potter addicts will love it. JK Rowling is going to make (another) fortune. The West End\'s ornate Palace Theatre, itself a little like Hogwarts, has a hit probably for years."\nVariety describes it as "spellbinding", Matt Trueman writing that it is: "The Show That Lived Up to Expectations â€” and Then Some."\nHe says the relationship between Albus and Scorpius is "the friendship of two bullied boys bound together, and it\'s a beautiful, tender thing", adding: "The script by Jack Thorne recognizes that rejection breeds resentment, and outsiders stew into outcasts.\n"No one\'s born a villain, nor sees themselves as such, and where the books gave us stock baddies, Cursed Child fleshes them out."\nChris Jones, in the Chicago Tribune, says that "heretical as this may sound", the play left him "quietly lamenting that the movies were ever made".\nBen Brantley in the New York Times writes: "Like the novels that preceded it, The Cursed Child is stuffed with arcana-filled plots that defy diagrams and baldly wrought sentimental life lessons, along with anguished dives into the earnest, tortured solipsism of adolescence.\n"By rights, such a combination should try the patience of any grown-up. But like Ms Rowling\'s books, the play vanquishes resistance."\nThe Harry Potter books have sold more than 450 million copies since 1997 and been adapted into eight films.\nThe script of Harry Potter and the Cursed Child is published this weekend.\nFollow us on Twitter @BBCNewsEnts, on Instagram at bbcnewsents, or email entertainment.news@bbc.co.uk.\nThere were celebrations in Europe after Germany surrendered.\nBut on the other side of the world in the Pacific Ocean, Japan was still fighting against America, Britain and their allies.\nThe Americans, however, had a secret plan to end the war - by using the most powerful weapon ever created.\nOn 6 August 1945, at 8.15am Japanese time, an American B-29 bomber plane, called \'Enola Gay\', dropped an atomic bomb on the Japanese city of Hiroshima.\nThe devastation was beyond anything seen before. The city was immediately flattened.\n80,000 people were killed as a direct result of the blast, and another 35,000 were injured.\nEven then, Japan didn\'t surrender.\nThree days later, another nuclear bomb was dropped by the Americans on the Japanese city of Nagasaki.\nShortly afterwards, on 15 August 1945, Japan finally admitted defeat.\nWorld War Two was over.\nWhen the bomb exploded in Hiroshima, the city has struck by a flash of blinding light then a giant cloud shaped like a mushroom.\nThe blast flattened buildings within a 2.5 km radius of the bomb.\nThere were 90,000 buildings in Hiroshima before the bomb was dropped but only 28,000 remained after the explosion.\nThousands and thousands of people were killed.  Many were badly injured.\nBut the suffering didn\'t end there because it wasn\'t just a normal bomb.\nThe nuclear radiation released when it exploded caused people to suffer horrible illnesses.\nThousands more people died from their injuries and radiation sickness in the weeks, months and years that followed.\nJapan was at war with America and its allies, which included Britain and Soviet Union (a nation made up of modern-day Russia and other countries).\nThe allies were winning the war and the Japanese forces had been pushed back from many locations.\nHowever fighting was still very fierce and soldiers and civilians were dying every day.\nJapan had been at war for many years.\nIt had invaded the countries near to it such as China and the Japanese had attacked America.\nEverywhere the Japanese soldiers went, they were known for their cruelty.\nThey treated prisoners of war very badly, including  American and British soldiers who had surrendered.\nUS President Harry S Truman wanted the Japanese to surrender as quickly as possible so he could save lives.\nThe atomic bomb was a deadly new weapon.\nPresident Truman hoped the massive destruction it caused would shock the Japanese into realising they had to surrender.\nUS President Truman wanted to avoid a land invasion of Japan.', start_char_idx=568637, end_char_idx=573273, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=0.7687263306401905)], metadata={'28cb8331-4c3d-4063-8aac-3bd60404bc76': {'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, '5d06ce11-0978-4652-a0ba-21859dccbafa': {'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}})

In [8]:
from llama_index.core import Settings

Settings.chunk_size = 512

# Local settings
from llama_index.core.node_parser import SentenceSplitter

index = VectorStoreIndex.from_documents(
    documents, transformations=[SentenceSplitter(chunk_size=512)]
)

https://docs.llamaindex.ai/en/stable/getting_started/customization.html

In [9]:
query_engine = index.as_query_engine()
response = query_engine.query("I'm looking for the information of Harry Potter. What could you suggest to me?")

In [10]:
response

Response(response='I would suggest looking into the play "Harry Potter and the Cursed Child", which is set 19 years after the seventh book in the series by JK Rowling. The play has received positive reviews and is presented in two parts, showcasing the characters as adults with children of their own. It has been described as a "truly game-changing production" with thrilling theatrical elements and a unique storytelling approach.', source_nodes=[NodeWithScore(node=TextNode(id_='82bf70b0-b450-47c9-93cd-6b2841a7d5f6', embedding=None, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, excluded_embed_metadata_keys=['file_name', 'file_type', 'file_size', 'creation_date', 'last_modified_date', 'last_accessed_date'], excluded_llm_metadata_keys=['file_name', 'file_type', 'file_size', 'creation_date', 'last_modified_date', 'last_accessed_date'], relationships={<NodeRelationship.SOURCE: '1'>: RelatedNodeInfo(node_id='b217f4ba-c69a-4bb6-97ac-51731e5985de', node_type=<ObjectType.DOCUMENT: '4'>, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, hash='6d27bc87aba76367943e65e5e4a8f41e37ab0ebd2d22da2acd19917f373cddb2'), <NodeRelationship.PREVIOUS: '2'>: RelatedNodeInfo(node_id='6334cf1d-e880-4bbb-9d53-9faf96cf5b13', node_type=<ObjectType.TEXT: '1'>, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, hash='e3cc63f7c72aa3b212e1863445d52c5fb4503c795bf01a151d2d3de979a11cc3'), <NodeRelationship.NEXT: '3'>: RelatedNodeInfo(node_id='2744a9a0-0ac9-43c9-9e95-a6225c49b609', node_type=<ObjectType.TEXT: '1'>, metadata={}, hash='d307d96d45bdb7592e2314ba6d0760c1c581608a8c840525a4388792cb2ddec7')}, text='It\'s another five stars from The Independent, with Jack Shepherd describing it as "magical". He argues Part One should be billed as a magic show, due to the effects used, also praising its moments of comedy.\nShepherd adds: "It\'s quite apparent this isn\'t written to be either a book or a tie-in film; it\'s a spectacle for the theatre, one that is filled to the brim with fan service and magical imagery that will amaze."\nQuentin Letts grumbles about the length of the play in the Daily Mail, noting: "There were moments I could have done with a glug of gurdyroot infusion to keep me alert."\nBut he admits: "Potter addicts will love it. JK Rowling is going to make (another) fortune. The West End\'s ornate Palace Theatre, itself a little like Hogwarts, has a hit probably for years."\nVariety describes it as "spellbinding", Matt Trueman writing that it is: "The Show That Lived Up to Expectations â€” and Then Some."\nHe says the relationship between Albus and Scorpius is "the friendship of two bullied boys bound together, and it\'s a beautiful, tender thing", adding: "The script by Jack Thorne recognizes that rejection breeds resentment, and outsiders stew into outcasts.\n"No one\'s born a villain, nor sees themselves as such, and where the books gave us stock baddies, Cursed Child fleshes them out."\nChris Jones, in the Chicago Tribune, says that "heretical as this may sound", the play left him "quietly lamenting that the movies were ever made".\nBen Brantley in the New York Times writes: "Like the novels that preceded it, The Cursed Child is stuffed with arcana-filled plots that defy diagrams and baldly wrought sentimental life lessons, along with anguished dives into the earnest, tortured solipsism of adolescence.\n"By rights, such a combination should try the patience of any grown-up. But like Ms Rowling\'s books, the play vanquishes resistance."\nThe Harry Potter books have sold more than 450 million copies since 1997 and been adapted into eight films.\nThe script of Harry Potter and the Cursed Child is published this weekend.\nFollow us on Twitter @BBCNewsEnts, on Instagram at bbcnewsents, or email entertainment.news@bbc.co.uk.', start_char_idx=568637, end_char_idx=570783, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=0.79623539519736), NodeWithScore(node=TextNode(id_='8495f422-7b8d-4e5a-a4d2-7ba7ae2edabb', embedding=None, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, excluded_embed_metadata_keys=['file_name', 'file_type', 'file_size', 'creation_date', 'last_modified_date', 'last_accessed_date'], excluded_llm_metadata_keys=['file_name', 'file_type', 'file_size', 'creation_date', 'last_modified_date', 'last_accessed_date'], relationships={<NodeRelationship.SOURCE: '1'>: RelatedNodeInfo(node_id='b217f4ba-c69a-4bb6-97ac-51731e5985de', node_type=<ObjectType.DOCUMENT: '4'>, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, hash='6d27bc87aba76367943e65e5e4a8f41e37ab0ebd2d22da2acd19917f373cddb2'), <NodeRelationship.PREVIOUS: '2'>: RelatedNodeInfo(node_id='2c324651-e389-462c-8895-9abc9a76b78b', node_type=<ObjectType.TEXT: '1'>, metadata={'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, hash='9782bac5f16613040f5c9c6affddf3e2880220c07646a943589dcf02c60f4633'), <NodeRelationship.NEXT: '3'>: RelatedNodeInfo(node_id='6334cf1d-e880-4bbb-9d53-9faf96cf5b13', node_type=<ObjectType.TEXT: '1'>, metadata={}, hash='6534e0c354bd88ead6d9508f4092f9ff8890a4f4a3d64682172deb890494d914')}, text='The play, written by Jack Thorne, is set 19 years after the seventh and final book in the series by JK Rowling.\nIt opens officially at the Palace Theatre, in London\'s West End, on Saturday.\nAudiences have been urged to "keep the secrets" since the play began previews in early June.\nPresented in two parts, the play - showing the stars of the wizarding saga as adults in their mid-30s as their own children head off to school - stretches over five hours.\nDaily Telegraph critic Dominic Cavendish awarded the play five stars, writing: "British theatre hasn\'t known anything like it for decades and I haven\'t seen anything directly comparable in all my reviewing days."\nHe said "those involved can give themselves a pat on the back", adding: "It\'s a triumph. Not an unqualified one - there are some quibbles - but in all key respects, it grips, it stirs, it delights."\nCavendish praises the "thrill-a-minute" stage craft which sees pupils heading to Hogwarts, at the start of the play, change into school uniforms "in the blink of an eye" as they head to the infamous Platform 9Â¾ to make their way to school.\nThe Stage also gives a five-star review, with Mark Shenton describing Harry Potter and the Cursed Child - co-devised by Rowling, with director John Tiffany and playwright Jack Thorne - as a "truly game-changing production and a thrilling theatrical endeavour".\nIt is an "entirely original" piece of work, with "Dickensian sweep and momentum to the storytelling", writes Shenton, adding: "It earns its place on the stage, feeling distinct from both the books and the screen adaptations.\n"By turns playful and gripping, disturbing and detailed, poignant and powerful, it is superb family entertainment."\nShenton also praises "the theatrical wizards who\'ve created this stunningly-realised alternative universe deliver one coup de theatre after another".\nIn a nod to the Kings Cross platform number, Ann Treneman gives the play four and three-quarters stars in The Times, saying the "wizardry on display" is "out of this world".\nShe says the plot is complex ("there are mazes that are more straightforward") but adds: "It\'s a raunchless Game of Thrones with heart.', start_char_idx=565726, end_char_idx=567895, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=0.7793227158656173)], metadata={'82bf70b0-b450-47c9-93cd-6b2841a7d5f6': {'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}, '8495f422-7b8d-4e5a-a4d2-7ba7ae2edabb': {'file_path': '/Users/linghuang/Git/NLP/notebook/document/documents.txt', 'file_name': 'documents.txt', 'file_type': 'text/plain', 'file_size': 2132434, 'creation_date': '2024-03-11', 'last_modified_date': '2024-03-11'}})

In [11]:
from llama_index.core import VectorStoreIndex, SimpleDirectoryReader

query_engine = index.as_query_engine(similarity_top_k=5)
response = query_engine.query("I'm looking for the information of Harry Potter. What could you suggest to me?")
print(response)

You may want to explore the play "Harry Potter and the Cursed Child," which is set 19 years after the last book in the Harry Potter series by JK Rowling. The play has received positive reviews and is presented in two parts, showcasing the characters as adults with children of their own. It has been described as a magical and thrilling theatrical experience, offering a new and original story within the Harry Potter universe.

In [12]:
query_engine = index.as_query_engine(response_mode="tree_summarize")
response = query_engine.query("I'm looking for the information of Harry Potter. What could you suggest to me?")
print(response)

You might be interested in learning about the play "Harry Potter and the Cursed Child", which is set 19 years after the seventh book in the series by JK Rowling. The play has received positive reviews from critics, with praise for its magical effects, moments of comedy, and the relationship between characters. It is presented in two parts and has been described as a "truly game-changing production" with a "Dickensian sweep and momentum to the storytelling". The play is set in the wizarding world, featuring adult versions of the characters as their own children head off to school.

In [13]:
query_engine = index.as_query_engine(streaming=True)
response = query_engine.query("I'm looking for the information of Harry Potter. What could you suggest to me?")
response.print_response_stream()

I would suggest looking into the play "Harry Potter and the Cursed Child", which is set 19 years after the seventh book in the series by JK Rowling. The play has received positive reviews and is presented in two parts, showcasing the characters as adults with their own children. It has been described as a "truly game-changing production" with thrilling theatrical elements and a unique storytelling approach.

In [14]:
query_engine = index.as_chat_engine()
response = query_engine.query("I'm looking for the information of Harry Potter. What could you suggest to me?")
print(response)

Harry Potter is a popular fictional character created by author JK Rowling. The Harry Potter series consists of seven books that follow the life and adventures of a young wizard named Harry Potter as he attends Hogwarts School of Witchcraft and Wizardry. The series has been highly successful, with millions of copies sold worldwide and adapted into eight films. Additionally, a play called "Harry Potter and the Cursed Child" written by Jack Thorne is set 19 years after the events of the final book in the original series. The play has received positive reviews and is considered a significant theatrical production.

https://docs.llamaindex.ai/en/stable/examples/query_engine/knowledge_graph_rag_query_engine.html

### OpenAI

In [17]:
import logging
import sys

logging.basicConfig(
    stream=sys.stdout, level=logging.INFO
)  # logging.DEBUG for more verbose output


# define LLM
from llama_index.llms.openai import OpenAI
from llama_index.embeddings.openai import OpenAIEmbedding
from llama_index.core import Settings


Settings.llm = OpenAI(temperature=0, model="gpt-3.5-turbo")
Settings.chunk_size = 512
embed_model = OpenAIEmbedding(
    model="text-embedding-3-small",
)
Settings.embed_model = embed_model

### Prepare for NebulaGraph

In [4]:
os.environ["GRAPHD_HOST"] = "127.0.0.1"
os.environ["NEBULA_USER"] = "root"
os.environ["NEBULA_PASSWORD"] = "nebula" 
os.environ["NEBULA_ADDRESS"] = "127.0.0.1:9669"  

%reload_ext ngql
connection_string = f"--address {os.environ['GRAPHD_HOST']} --port 9669 --user root --password {os.environ['NEBULA_PASSWORD']}"
%ngql {connection_string}

# os.environ["GRAPHD_HOST"] = "graphd:9669"
# os.environ["NEBULA_USER"] = "root"
# os.environ["NEBULA_PASSWORD"] = "nebula"
# # os.environ["NEBULA_ADDRESS"] = "127.0.0.1:9669"

# os.environ["GRAPHD_HOST"] = "127.0.0.1"
# os.environ["NEBULA_USER"] = "root"
# os.environ["NEBULA_PASSWORD"] = "nebula" 
# os.environ["NEBULA_ADDRESS"] = "127.0.0.1:9669"  

# space_name = "llamaindex"
# edge_types, rel_prop_names = ["relationship"], [
#     "relationship"
# ]  # default, could be omit if create from an empty kg
# tags = ["entity"]

Connection Pool Created

      Name
0  default

In [5]:
%reload_ext ngql
connection_string = f"--address {os.environ['GRAPHD_HOST']} --port 9669 --user root --password {os.environ['NEBULA_PASSWORD']}"
%ngql {connection_string}

Connection Pool Created

      Name
0  default

In [6]:
%ngql CREATE SPACE IF NOT EXISTS phillies_rag(vid_type=FIXED_STRING(256), partition_num=1, replica_factor=1);

Empty DataFrame
Columns: []
Index: []

In [13]:
%ngql SHOW SPACES;

           Name
0       default
1  phillies_rag

In [9]:
%%ngql
USE phillies_rag;
CREATE TAG IF NOT EXISTS entity(name string);
CREATE EDGE IF NOT EXISTS relationship(relationship string);

Empty DataFrame
Columns: []
Index: []

In [14]:
%ngql SHOW TAGS;

     Name
0  entity

In [18]:
%ngql SHOW EDGES;

           Name
0  relationship

In [21]:
%ngql CREATE TAG INDEX IF NOT EXISTS entity_index ON entity(name(256));

Empty DataFrame
Columns: []
Index: []

In [12]:
from llama_index.storage.storage_context import StorageContext
from llama_index.graph_stores import NebulaGraphStore

space_name = "phillies_rag"
edge_types, rel_prop_names = ["relationship"], ["relationship"]
tags = ["entity"]

graph_store = NebulaGraphStore(
    space_name=space_name,
    edge_types=edge_types,
    rel_prop_names=rel_prop_names,
    tags=tags,
)
storage_context = StorageContext.from_defaults(graph_store=graph_store)

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
Cell In[12], line 1
----> 1 from llama_index.storage.storage_context import StorageContext
      2 from llama_index.graph_stores import NebulaGraphStore
      4 space_name = "phillies_rag"

ModuleNotFoundError: No module named 'llama_index.storage'

ModuleNotFoundError: No module named 'llama_index.storage'

## Load data and create KG index

In [9]:
from llama_index import (
    LLMPredictor,
    ServiceContext,
    KnowledgeGraphIndex,
)
from llama_index.graph_stores import SimpleGraphStore
from llama_index import download_loader
from llama_index.llms import OpenAI

# define LLM
llm = OpenAI(temperature=0.1, model="gpt-3.5-turbo")
service_context = ServiceContext.from_defaults(llm=llm, chunk_size=512)

In [10]:
from llama_index import load_index_from_storage
from llama_hub.youtube_transcript import YoutubeTranscriptReader

try:

    storage_context = StorageContext.from_defaults(persist_dir='./storage_graph', graph_store=graph_store)
    kg_index = load_index_from_storage(
        storage_context=storage_context,
        service_context=service_context,
        max_triplets_per_chunk=15,
        space_name=space_name,
        edge_types=edge_types,
        rel_prop_names=rel_prop_names,
        tags=tags,
        verbose=True,
    )
    index_loaded = True
except:
    index_loaded = False

if not index_loaded:
    
    WikipediaReader = download_loader("WikipediaReader")
    loader = WikipediaReader()
    wiki_documents = loader.load_data(pages=['Philadelphia Phillies'], auto_suggest=False)
    print(f'Loaded {len(wiki_documents)} documents')

    youtube_loader = YoutubeTranscriptReader()
    youtube_documents = youtube_loader.load_data(ytlinks=['https://www.youtube.com/watch?v=k-HTQ8T7oVw'])    
    print(f'Loaded {len(youtube_documents)} YouTube documents')

    kg_index = KnowledgeGraphIndex.from_documents(
        documents=wiki_documents + youtube_documents,
        storage_context=storage_context,
        max_triplets_per_chunk=15,
        service_context=service_context,
        space_name=space_name,
        edge_types=edge_types,
        rel_prop_names=rel_prop_names,
        tags=tags,
        include_embeddings=True,
    )
    
    kg_index.storage_context.persist(persist_dir='./storage_graph')

## Query with Text2Cypher

In [11]:
from llama_index.query_engine import KnowledgeGraphQueryEngine
from llama_index.storage.storage_context import StorageContext
from llama_index.graph_stores import NebulaGraphStore
from IPython.display import Markdown, display

# query_engine = KnowledgeGraphQueryEngine(
#     storage_context=storage_context,
#     service_context=service_context,
#     llm=llm,
#     verbose=True,
# )

hybrid_query_engine = kg_index.as_query_engine(
    include_text=True,
    response_mode="tree_summarize",
    embedding_mode="hybrid",
    similarity_top_k=3,
    explore_global_knowledge=True,
)

In [12]:
hybrid_query_engine = kg_index.as_query_engine()
response = hybrid_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

<b>Bryce Harper is a baseball player who was named MVP of the NLCS. He also fueled tensions after signing a 13-year $330 million contract.</b>

In [13]:
query_engine = kg_index.as_query_engine()
response = query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

<b>Bryce Harper is a baseball player who was named MVP of the NLCS. He also fueled tensions after signing a 13-year $330 million contract.</b>

In [14]:
response = query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

<b>Bryce Harper is a baseball player who was named MVP of the NLCS. He also fueled tensions after signing a 13-year $330 million contract.</b>

In [15]:
%%ngql
MATCH (p:`entity`)-[e:relationship]->(m:`entity`)
  WHERE p.`entity`.`name` == 'Bryce Harper'
RETURN p, e, m;

,p,e,m
0,"(""Bryce Harper"" :entity{name: ""Bryce Harper""})","(""Bryce Harper"")-[:relationship@45106556397841...","(""13-year $330 million contract"" :entity{name:..."
1,"(""Bryce Harper"" :entity{name: ""Bryce Harper""})","(""Bryce Harper"")-[:relationship@59824214907797...","(""NLCS"" :entity{name: ""NLCS""})"

In [16]:
%ng_draw

<class 'pyvis.network.Network'> |N|=3 |E|=2

In [17]:
response = query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

<b>The impact of the standing ovation Trey Turner received had a positive effect on his season. Following the standing ovation, Trey Turner appeared to be in higher spirits, more at ease, and less burdened by his own thoughts. This translated into improved performance on the field, as evidenced by an increase in his batting average, more successful hits, and a greater number of home runs. The support and admiration displayed by the Philadelphia fans appeared to have bolstered his self-assurance and aided him in overcoming his previous struggles.</b>

In [18]:
%%ngql 
MATCH (p:`entity`)-[r:`relationship`]->(q:`entity`)
WHERE p.`entity`.`name` == 'Trey Turner' 
RETURN p, r, q;

,p,r,q
0,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@-89965735714464...","(""as quick"" :entity{name: ""as quick""})"
1,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@-89414636367958...","(""a standing ovation"" :entity{name: ""a standin..."
2,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@-89275189104623...","(""in comments"" :entity{name: ""in comments""})"
3,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@-86268653017792...","(""25 hits"" :entity{name: ""25 hits""})"
4,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@-86268653017792...","(""5 home runs"" :entity{name: ""5 home runs""})"
...,...,...,...
70,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@804341681940123...","(""ball and strike call"" :entity{name: ""ball an..."
71,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@859994387799338...","(""baseball"" :entity{name: ""baseball""})"
72,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@859994387799338...","(""fifth home run"" :entity{name: ""fifth home ru..."
73,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@878913129174356...","(""inside of his own head"" :entity{name: ""insid..."
74,"(""Trey Turner"" :entity{name: ""Trey Turner""})","(""Trey Turner"")-[:relationship@887114663913418...","(""got higher"" :entity{name: ""got higher""})"

In [19]:
%ng_draw

<class 'pyvis.network.Network'> |N|=75 |E|=75

In [20]:
response = query_engine.query("Tell me about some of the facts of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

<b>The Philadelphia Phillies are a professional baseball team based in Philadelphia. They compete in Major League Baseball as a member of the National League East division. The team's home stadium is Citizens Bank Park, located in the South Philadelphia Sports Complex. The Phillies have a rich history, with two World Series championships (in 1980 and 2008), eight National League pennants, and 15 playoff appearances. They have played over 21,000 games since their establishment in 1883, with a record of 10,022 wins and 11,187 losses. The Phillies have had successful periods, including winning 11 division titles and making five consecutive playoff appearances from 2007 to 2011. They have also had notable players, such as Hall of Famers Richie Ashburn and Robin Roberts, as well as recent stars like Bryce Harper, who won the NL Most Valuable Player Award in 2021.</b>

In [21]:
%%ngql 
MATCH (p:`entity`)-[e:relationship]->(m:`entity`)
  WHERE p.`entity`.`name` == 'Philadelphia Phillies' 
RETURN p, e, m;

,p,e,m
0,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@-9215...","(""Joe Girardi"" :entity{name: ""Joe Girardi""})"
1,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@-8815...","(""Major League Baseball"" :entity{name: ""Major ..."
2,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@-4023...","(""15 playoff appearances"" :entity{name: ""15 pl..."
3,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@14545...","(""National League"" :entity{name: ""National Lea..."
4,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@26691...","(""American professional baseball team"" :entity..."
5,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@30666...","(""Lehigh Valley IronPigs"" :entity{name: ""Lehig..."
6,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@42124...","(""Philadelphia"" :entity{name: ""Philadelphia""})"
7,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@91846...","(""eight National League pennants"" :entity{name..."
8,"(""Philadelphia Phillies"" :entity{name: ""Philad...","(""Philadelphia Phillies"")-[:relationship@91846...","(""two World Series championships"" :entity{name..."

In [22]:
%ng_draw

<class 'pyvis.network.Network'> |N|=10 |E|=9

## Query with vector index

In [23]:
from llama_index import VectorStoreIndex

WikipediaReader = download_loader("WikipediaReader")
loader = WikipediaReader()
wiki_documents = loader.load_data(pages=['Philadelphia Phillies'], auto_suggest=False)
print(f'Loaded {len(wiki_documents)} documents')

youtube_loader = YoutubeTranscriptReader()
youtube_documents = youtube_loader.load_data(ytlinks=['https://www.youtube.com/watch?v=k-HTQ8T7oVw'])    
print(f'Loaded {len(youtube_documents)} YouTube documents')

vector_index = VectorStoreIndex.from_documents(wiki_documents + youtube_documents)
vector_query_engine = vector_index.as_query_engine()

response = vector_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

Loaded 1 documents
Loaded 1 YouTube documents

<b>Bryce Harper is a professional baseball player who has played for the Philadelphia Phillies since the 2019 season. He was signed to a 13-year, $330 million deal, making it one of the biggest contracts in baseball history. Harper has been a key player for the Phillies and has had notable achievements, including winning the NL Most Valuable Player Award for the 2021 season. He has been a significant contributor to the team's success, although they have not yet made the playoffs during his tenure.</b>

In [24]:
response = vector_query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

<b>The standing ovation Trey Turner received seemed to have a positive impact on his season. After receiving the ovation, Turner had one of his best games in weeks and felt that the hit he got during that game was one of his best swings all year. In the 18 games since the standing ovation, Turner has been performing well, with a batting average of .343, an OPS over a thousand, and several hits, home runs, and RBIs. The love and support shown by the city of Philadelphia seemed to have boosted Turner's confidence and helped him relax, resulting in improved performance on the field.</b>

In [25]:
response = vector_query_engine.query("Tell me about some of the facts of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

<b>The Philadelphia Phillies are a professional baseball team based in Philadelphia. They compete in Major League Baseball as a member of the National League East division. The team's home stadium is Citizens Bank Park, located in the South Philadelphia Sports Complex. The Phillies have a history dating back to 1883 and have played at several stadiums in the city over the years. They have won two World Series championships, eight National League pennants, and have made 15 playoff appearances. The team has a loyal fan base and is known for its longevity. The Phillies have had both periods of success and periods of futility throughout their history. They were the last of the pre-expansion teams to win a World Series, with their first championship coming in 1980. Since the start of the Divisional Era in 1969, the Phillies have been one of the most successful teams in MLB, winning 11 division titles, eight National League pennants, and two World Series championships. The team's Triple-A affiliate is the Lehigh Valley IronPigs, and their Double-A affiliate is the Reading Fightin Phils. The Phillies' spring training facilities are located in Clearwater, Florida.</b>

## Create CustomRetriever to combine vector index and KG index

In [26]:
from llama_index import QueryBundle
from llama_index.schema import NodeWithScore
from llama_index.retrievers import BaseRetriever, VectorIndexRetriever, KGTableRetriever
from typing import List

class CustomRetriever(BaseRetriever):
    """Custom retriever that performs both Vector search and Knowledge Graph search"""

    def __init__(
        self,
        vector_retriever: VectorIndexRetriever,
        kg_retriever: KGTableRetriever,
        mode: str = "OR",
    ) -> None:
        """Init params."""

        self._vector_retriever = vector_retriever
        self._kg_retriever = kg_retriever
        if mode not in ("AND", "OR"):
            raise ValueError("Invalid mode.")
        self._mode = mode

    def _retrieve(self, query_bundle: QueryBundle) -> List[NodeWithScore]:
        """Retrieve nodes given query."""

        vector_nodes = self._vector_retriever.retrieve(query_bundle)
        kg_nodes = self._kg_retriever.retrieve(query_bundle)

        vector_ids = {n.node.node_id for n in vector_nodes}
        kg_ids = {n.node.node_id for n in kg_nodes}

        combined_dict = {n.node.node_id: n for n in vector_nodes}
        combined_dict.update({n.node.node_id: n for n in kg_nodes})

        if self._mode == "AND":
            retrieve_ids = vector_ids.intersection(kg_ids)
        else:
            retrieve_ids = vector_ids.union(kg_ids)

        retrieve_nodes = [combined_dict[rid] for rid in retrieve_ids]
        return retrieve_nodes

In [27]:
from llama_index import get_response_synthesizer
from llama_index.query_engine import RetrieverQueryEngine
from llama_index.retrievers import VectorIndexRetriever, KGTableRetriever

# create custom retriever
vector_retriever = VectorIndexRetriever(index=vector_index)
kg_retriever = KGTableRetriever(
    index=kg_index, retriever_mode="keyword", include_text=False
)
custom_retriever = CustomRetriever(vector_retriever, kg_retriever)

# create response synthesizer
response_synthesizer = get_response_synthesizer(
    service_context=service_context,
    response_mode="tree_summarize",
)

## Create 7 query engines and run queries

In [28]:
# KG vector-based entity retrieval
kg_query_engine = kg_index.as_query_engine()

# KG keyword-based entity retrieval
kg_keyword_query_engine = kg_index.as_query_engine(
    # setting to false uses the raw triplets instead of adding the text from the corresponding nodes
    include_text=False,
    retriever_mode="keyword",
    response_mode="tree_summarize",
)

# KG hybrid entity retrieval
kg_hybrid_query_engine = kg_index.as_query_engine(
    include_text=True,
    response_mode="tree_summarize",
    embedding_mode="hybrid",
    similarity_top_k=3,
    explore_global_knowledge=True,
)

# Raw vector index retrieval
vector_query_engine = vector_index.as_query_engine()

# Custom combo query engine
custom_query_engine = RetrieverQueryEngine(
    retriever=custom_retriever,
    response_synthesizer=response_synthesizer,
)

# using KnowledgeGraphQueryEngine
from llama_index.query_engine import KnowledgeGraphQueryEngine

kgqe_query_engine = KnowledgeGraphQueryEngine(
    storage_context=storage_context,
    service_context=service_context,
    llm=llm,
    verbose=True,
)

# using KnowledgeGraphRAGRetriever
from llama_index.query_engine import RetrieverQueryEngine
from llama_index.retrievers import KnowledgeGraphRAGRetriever

graph_rag_retriever = KnowledgeGraphRAGRetriever(
    storage_context=storage_context,
    service_context=service_context,
    llm=llm,
    verbose=True,
)

kg_rag_query_engine = RetrieverQueryEngine.from_args(
    graph_rag_retriever, service_context=service_context
)

In [29]:
response = kg_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

<b>Bryce Harper is a baseball player who was named MVP of the NLCS. He also fueled tensions after signing a 13-year $330 million contract.</b>

In [30]:
response = kg_keyword_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

<b>Bryce Harper is a person who has been involved in various relationships and events. He was named MVP of the NLCS and also fueled tensions after signing a 13-year $330 million contract.</b>

In [31]:
response = kg_hybrid_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

<b>Bryce Harper is a star outfielder who has made a significant impact in the world of baseball. He is known for his impressive hitting skills and has been a key player in the lineup of the Philadelphia Phillies. Harper signed a lucrative 13-year, $330 million contract with the Phillies as a free agent in 2019, which has generated some tensions. He was named the MVP of the NLCS and also won the NL Most Valuable Player Award in 2021. Harper's contributions have helped the Phillies reach the playoffs in 2022 and advance to the World Series.</b>

In [32]:
response = vector_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

<b>Bryce Harper is a professional baseball player who has played for the Philadelphia Phillies since the 2019 season. He was signed to a 13-year, $330 million deal, making it one of the biggest contracts in baseball history. Harper has been a key player for the Phillies and has had notable achievements, including winning the NL Most Valuable Player Award for the 2021 season. He has been a significant contributor to the team's success, helping them reach the playoffs in the 2022 season and advancing to the World Series.</b>

In [33]:
response = custom_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

<b>Bryce Harper is a professional baseball player who has played for the Philadelphia Phillies. He joined the team in 2019 after signing a 13-year, $330 million contract, which was a significant move as he was taken away from the division rival Washington Nationals. Harper has been a key player for the Phillies and has had notable achievements during his time with the team. In 2021, he won the NL Most Valuable Player Award. Additionally, Harper played a crucial role in the Phillies' successful 2022 season, where they reached the playoffs for the first time since 2011 and advanced to the World Series. He was named the MVP of the NLCS during that postseason. Overall, Bryce Harper is a highly regarded player who has made a significant impact on the Philadelphia Phillies.</b>

In [34]:
response = kgqe_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

Graph Store Query:
MATCH (p:`entity`)-[r:`relationship`]->(e:`entity`)
WHERE p.`entity`.`name` == 'Bryce Harper'
RETURN e.`entity`.`name`
Graph Store Response:
{'e.entity.name': ['13-year $330 million contract', 'NLCS']}
Final Response: Bryce Harper is associated with a 13-year $330 million contract and the NLCS.

<b>Bryce Harper is associated with a 13-year $330 million contract and the NLCS.</b>

In [35]:
response = kg_rag_query_engine.query("Tell me about Bryce Harper.")
display(Markdown(f"<b>{response}</b>"))

Entities processed: ['Bryce', 'Harper', 'Bryce Harper']
Entities processed: ['bryce harper', 'bryce', 'harper']
Graph RAG context:
The following are knowledge sequence in max depth 2 in the form of directed graph like:
`subject -[predicate]->, object, <-[predicate_next_hop]-, object_next_hop ...` extracted based on key entities as subject:
Bryce Harper{name: Bryce Harper} -[relationship:{relationship: was named MVP of}]-> NLCS{name: NLCS}
Bryce Harper{name: Bryce Harper} -[relationship:{relationship: fueled tensions after signing}]-> 13-year $330 million contract{name: 13-year $330 million contract}

<b>Bryce Harper is a person who has been involved in various relationships and events.</b>

In [36]:
response = kg_query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

<b>The impact of the standing ovation Trey Turner received seemed to have a positive effect on his season. After the ovation, Trey appeared to be in higher spirits and more at ease. This change in mindset translated to his performance on the field, as he played the game with increased confidence. In the games that followed the ovation, Trey displayed impressive stats, including a batting average of .343, five home runs, and 15 RBIs. The support and encouragement from the Philadelphia fans appeared to have revitalized Trey and contributed to his success during that period.</b>

In [37]:
response = kg_keyword_query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

<b>The standing ovation Trey Turner received likely had a positive impact on his season.</b>

In [38]:
response = kg_hybrid_query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

<b>The standing ovation Trey Turner received had a positive impact on his season. After receiving the ovation, Turner seemed happier, more relaxed, and out of his own head. He started performing better in the games, with improved batting average, more hits, and more home runs. The love and support shown by the fans seemed to have boosted his confidence and helped him get out of his slump. Overall, the standing ovation played a significant role in changing Trey Turner's season for the better.</b>

In [39]:
response = vector_query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

<b>The standing ovation Trey Turner received seemed to have a positive impact on his season. After receiving the ovation, Turner had one of his best games in weeks and felt that the hit he got during that game was one of his best swings all year. In the 18 games since the standing ovation, Turner has been performing significantly better, with a batting average of .343, an OPS over a thousand, and multiple hits, home runs, and RBIs. The love and support shown by the Philadelphia fans seemed to have boosted Turner's confidence and helped him relax, resulting in improved performance on the field.</b>

In [40]:
response = custom_query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

<b>The standing ovation Trey Turner received had a positive impact on his season. After the ovation, Turner seemed happier, more relaxed, and out of his own head. He started performing better in games, having one of his best games in weeks. He mentioned that the hit he got during that game felt like one of his best swings all year. Since the standing ovation, Turner has been batting with a higher average, hitting more home runs, and driving in more runs. The love and support shown by the city of Philadelphia seemed to have boosted his confidence and helped him get out of his slump. Overall, it appears that the standing ovation boosted Turner's confidence and motivation, leading to a positive change in his season.</b>

In [41]:
response = kgqe_query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

Graph Store Query:
MATCH (p:`entity`)-[:relationship]->(e:`entity`)
WHERE p.`entity`.`name` == 'Trey Turner' AND e.`entity`.`name` == 'season'
SET p.`entity`.`standing_ovation` = 'changed'
RETURN p.`entity`.`standing_ovation`, e.`entity`.`name`
ERROR:llama_index.graph_stores.nebulagraph:Query failed. Query: MATCH (p:`entity`)-[:relationship]->(e:`entity`)
WHERE p.`entity`.`name` == 'Trey Turner' AND e.`entity`.`name` == 'season'
SET p.`entity`.`standing_ovation` = 'changed'
RETURN p.`entity`.`standing_ovation`, e.`entity`.`name`, Param: {}Error message: Query failed. Query: MATCH (p:`entity`)-[:relationship]->(e:`entity`)
WHERE p.`entity`.`name` == 'Trey Turner' AND e.`entity`.`name` == 'season'
SET p.`entity`.`standing_ovation` = 'changed'
RETURN p.`entity`.`standing_ovation`, e.`entity`.`name`, Param: {}Error message: SyntaxError: syntax error near `MAT'
ERROR:llama_index.graph_stores.nebulagraph:Query failed. Query: MATCH (p:`entity`)-[:relationship]->(e:`entity`)
WHERE p.`entity`.`name` == 'Trey Turner' AND e.`entity`.`name` == 'season'
SET p.`entity`.`standing_ovation` = 'changed'
RETURN p.`entity`.`standing_ovation`, e.`entity`.`name`, Param: {}Error message: Query failed. Query: MATCH (p:`entity`)-[:relationship]->(e:`entity`)
WHERE p.`entity`.`name` == 'Trey Turner' AND e.`entity`.`name` == 'season'
SET p.`entity`.`standing_ovation` = 'changed'
RETURN p.`entity`.`standing_ovation`, e.`entity`.`name`, Param: {}Error message: SyntaxError: syntax error near `MAT'
ERROR:llama_index.graph_stores.nebulagraph:Query failed. Query: MATCH (p:`entity`)-[:relationship]->(e:`entity`)
WHERE p.`entity`.`name` == 'Trey Turner' AND e.`entity`.`name` == 'season'
SET p.`entity`.`standing_ovation` = 'changed'
RETURN p.`entity`.`standing_ovation`, e.`entity`.`name`, Param: {}Error message: Query failed. Query: MATCH (p:`entity`)-[:relationship]->(e:`entity`)
WHERE p.`entity`.`name` == 'Trey Turner' AND e.`entity`.`name` == 'season'
SET p.`entity`.`standing_ovation` = 'changed'
RETURN p.`entity`.`standing_ovation`, e.`entity`.`name`, Param: {}Error message: SyntaxError: syntax error near `MAT'

RetryError: RetryError[<Future at 0x27094db1990 state=finished raised ValueError>]

In [42]:
response = kg_rag_query_engine.query("How did the standing ovation Trey Turner received change his season?")
display(Markdown(f"<b>{response}</b>"))

Entities processed: ['standing', 'Trey Turner', 'Trey', 'ovation', 'season', 'change', 'standing ovation', 'Turner']
Entities processed: ['standing', 'Trey Turner', 'ovation', 'Trey', 'season', 'change', 'standing ovation', 'Turner']
Graph RAG context:
The following are knowledge sequence in max depth 2 in the form of directed graph like:
`subject -[predicate]->, object, <-[predicate_next_hop]-, object_next_hop ...` extracted based on key entities as subject:
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: has been stuck}]-> inside of his own head{name: inside of his own head}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: has been fighting}]-> his own demons{name: his own demons}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: started out}]-> as good contact hitter{name: as good contact hitter}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: bats}]-> slowed{name: slowed}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: has won}]-> World Series{name: World Series}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: figure out}]-> what is wrong with him{name: what is wrong with him}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> two errors{name: two errors}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: hit}]-> baseball{name: baseball}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> one of his best games{name: one of his best games}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: continues on}]-> path to success{name: path to success}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> one home run as a philly{name: one home run as a philly}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> more games as a philly than in the WBC{name: more games as a philly than in the WBC}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> Grand Slam{name: Grand Slam}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> 819 Ops{name: 819 Ops}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> 440 on-base percentage{name: 440 on-base percentage}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> 3.391 batting average{name: 3.391 batting average}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: had}]-> 1.483 Ops{name: 1.483 Ops}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: head}]-> far gone{name: far gone}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: sent}]-> Team USA to championship{name: Team USA to championship}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: change}]-> demand season{name: demand season}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: argued}]-> ball and strike call{name: ball and strike call}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: got ejected}]-> from the game{name: from the game}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: has been}]-> on MLB first and second team{name: on MLB first and second team}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: has been}]-> Silver Slugger{name: Silver Slugger}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: seemingly was never}]-> going to turn it around{name: going to turn it around}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: is batting}]-> a 3-4-3 batting average{name: a 3-4-3 batting average}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: went into}]-> loan Depot indoor batting cage{name: loan Depot indoor batting cage}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: was able to drive}]-> a fastball{name: a fastball}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: has been stuck inside of}]-> his own head{name: his own head}
standing ovation{name: standing ovation} <-[relationship:{relationship: look back and say}]- Trey Turner{name: Trey Turner} -[relationship:{relationship: showing}]-> love{name: love}

<b>The standing ovation Trey Turner received likely had a positive impact on his season.</b>

In [43]:
response = kg_query_engine.query("Tell me some facts about the current stadium of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

<b>The current stadium of the Philadelphia Phillies is Citizens Bank Park. It opened in 2004 and is located in South Philadelphia. The stadium is part of the South Philadelphia Sports Complex, which also includes the Wells Fargo Center and Lincoln Financial Field. Citizens Bank Park replaced Veterans Stadium as the home of the Phillies.</b>

In [44]:
response = kg_keyword_query_engine.query("Tell me some facts about the current stadium of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

<b>The current stadium of the Philadelphia Phillies is known for its unique feature of featuring cardboard figures.</b>

In [45]:
response = kg_hybrid_query_engine.query("Tell me some facts about the current stadium of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

<b>The current stadium of the Philadelphia Phillies is Citizens Bank Park. It has been the team's home stadium since 2004 and is located in the South Philadelphia Sports Complex.</b>

In [46]:
response = vector_query_engine.query("Tell me some facts about the current stadium of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

<b>The current stadium of the Philadelphia Phillies is Citizens Bank Park, which has been their home since 2004. It is located in the South Philadelphia Sports Complex.</b>

In [47]:
response = custom_query_engine.query("Tell me some facts about the current stadium of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

<b>The current stadium of the Philadelphia Phillies is Citizens Bank Park. It has been the team's home stadium since 2004 and is located in the South Philadelphia Sports Complex. Citizens Bank Park has a restaurant built into the base of the main scoreboard named "Harry the K's" in honor of the late Phillies broadcaster Harry Kalas. The stadium also features a video system that was upgraded in 2011, including a new display screen in left field, which is the largest in the National League at 76 feet high and 97 feet wide.</b>

In [48]:
response = kgqe_query_engine.query("Tell me some facts about the current stadium of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

Graph Store Query:
MATCH (s:`entity`)-[:`relationship`]->(p:`entity`)
WHERE s.`name` == 'Philadelphia Phillies'
RETURN p.`name`
Graph Store Response:
{'p.name': []}
Final Response: I'm sorry, but I couldn't find any facts about the current stadium of the Philadelphia Phillies based on the given context information.

<b>I'm sorry, but I couldn't find any facts about the current stadium of the Philadelphia Phillies based on the given context information.</b>

In [50]:
response = kg_rag_query_engine.query("Tell me some facts about the current stadium of Philadelphia Phillies.")
display(Markdown(f"<b>{response}</b>"))

Entities processed: ['Philadelphia', 'stadium', 'current stadium', 'facts', 'current', 'Philadelphia Phillies', 'Phillies']
Entities processed: ['phillies', 'current stadium', 'Facts', 'facts', 'Phillies', 'philadelphia', 'stadium', 'Philadelphia', 'Stadium', 'current', 'Philadelphia Phillies', 'Current', 'Current stadium']
Graph RAG context:
The following are knowledge sequence in max depth 2 in the form of directed graph like:
`subject -[predicate]->, object, <-[predicate_next_hop]-, object_next_hop ...` extracted based on key entities as subject:
Philadelphia Phillies{name: Philadelphia Phillies} <-[relationship:{relationship: rivalry with}]- Washington Nationals{name: Washington Nationals} -[relationship:{relationship: extends back during}]-> original tenure{name: original tenure}
Philadelphia Phillies{name: Philadelphia Phillies} <-[relationship:{relationship: rivalry with}]- Washington Nationals{name: Washington Nationals} -[relationship:{relationship: increased in geographic tension due to}]-> proximity to Philadelphia{name: proximity to Philadelphia}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: based in}]-> Philadelphia{name: Philadelphia} <-[relationship:{relationship: for}]- expansion National League franchise{name: expansion National League franchise}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: based in}]-> Philadelphia{name: Philadelphia} <-[relationship:{relationship: moved}]- Toronto Blue Jays{name: Toronto Blue Jays}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: based in}]-> Philadelphia{name: Philadelphia} -[relationship:{relationship: finished}]-> MLB-best record{name: MLB-best record}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: based in}]-> Philadelphia{name: Philadelphia} -[relationship:{relationship: wanted to shed}]-> image of failure{name: image of failure}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: Triple-A affiliate}]-> Lehigh Valley IronPigs{name: Lehigh Valley IronPigs} -[relationship:{relationship: play at}]-> Coca-Cola Park{name: Coca-Cola Park}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: compete in}]-> Major League Baseball{name: Major League Baseball} <-[relationship:{relationship: universally retired by}]- 42{name: 42}
Philadelphia Phillies{name: Philadelphia Phillies} <-[relationship:{relationship: rivalry with}]- Washington Nationals{name: Washington Nationals}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: won}]-> two World Series championships{name: two World Series championships}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: won}]-> eight National League pennants{name: eight National League pennants}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: are}]-> American professional baseball team{name: American professional baseball team}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: compete in}]-> Major League Baseball{name: Major League Baseball}
Philadelphia Phillies{name: Philadelphia Phillies} -[relationship:{relationship: based in}]-> Philadelphia{name: Philadelphia} -[relationship:{relationship: should use}]-> blue jay's scientific name{name: blue jay's scientific name}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} <-[relationship:{relationship: trounced}]- A's{name: A's}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} <-[relationship:{relationship: never signed with}]- J. D. Drew{name: J. D. Drew}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} <-[relationship:{relationship: named}]- Baseball America{name: Baseball America}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: won}]-> highest numbers of division championships{name: highest numbers of division championships}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: won}]-> first pennant{name: first pennant}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: won}]-> NLDS three games to one against the Milwaukee Brewers{name: NLDS three games to one against the Milwaukee Brewers}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: won}]-> NL pennant{name: NL pennant}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: faced}]-> Houston Astros{name: Houston Astros}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: continued to contend}]-> next few years{name: next few years}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: defeated}]-> Dodgers in Los Angeles{name: Dodgers in Los Angeles}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: managed to end up in}]-> third place{name: third place}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: finished}]-> two games out of first{name: two games out of first}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: finished}]-> 13 games under .500{name: 13 games under .500}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: clinched}]-> National League East for second year in a row{name: National League East for second year in a row}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: removed the interim role of}]-> Thomson{name: Thomson}
Philadelphia{name: Philadelphia} <-[relationship:{relationship: founded in}]- Phillies{name: Phillies} -[relationship:{relationship: clinched}]-> National League East{name: National League East}

<b>The current stadium of the Philadelphia Phillies is not mentioned in the given context information.</b>